## 19.3.2 Open MongoDB compass to visually see what each python commands does

You'll see below screen -

>![first screen](mongo_img/compass/c1.JPG)

### STEP 1: Create a DB

In [2]:
!python -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\hp\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\hp\anaconda3\lib\site-packages (from pymongo) (2.3.0)

In [3]:
import pymongo

In [18]:
DEFAULT_CONNECTION_URL = "mongodb://localhost:27017/"
DB_NAME = "jyotika_1"

# Establish a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

# Create a DB
dataBase = client[DB_NAME]

---

### Paste the default URL in highlighted area of the Compass tool as shown below and click on connect
default URL for local system:- 
```
mongodb://localhost:27017/
```

> ![new connection](mongo_img/compass/c2.JPG)

after you press connect you'll see the following screen which contains already existing databases

> ![new connection](mongo_img/compass/c3.JPG)


**NOTE** you'll not see your database untill or unless you have created first document inside it. So at present we don't have any document in our DB its name is not visible here 

You can also create a database by clicking on CREATE DATABSE button. You'll see a below screen (But we'll see eveyrthing using python)

> ![new connection](mongo_img/compass/c4.JPG)

In [19]:
# lets see what the existing list of DBs -

client.list_database_names()

['admin', 'config', 'jyotika', 'local']

In [20]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_DB(DB_NAME, client):
    """It verifies the existence of DB"""
    DBlist = client.list_database_names()
    if DB_NAME in DBlist:
        print(f"DB: '{DB_NAME}' exists")
        return True
    print(f"DB: '{DB_NAME}' not yet present OR no collection is present in the DB")
    return False


_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'jyotika_1' not yet present OR no collection is present in the DB

### STEP 2: Create a collection

In [24]:
COLLECTION_NAME = "Jyotika_details_update"
collection = dataBase[COLLECTION_NAME]

In [25]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    """It verifies the existence of collection name in a database"""
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False


_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'Jyotika_details_update' in Database:'jyotika_1' does not exists OR
    no documents are present in the collection

### STEP 3: Insert a record in the collection

In [26]:
record = {'collegeName': 'Pondicherry University',
         'course': 'M.Tech CB',
         'session': '2021-2023',
         'Registration_no':'xyz',}

collection.insert_one(record)

In [27]:
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'Jyotika_details_update' in Database:'jyotika_1' exists

Now you can verify in Compass that iNeuron DB exists: -

> ![verify Db](mongo_img/compass/c5.JPG)
> **NOTE**: You may need to click refresh button if your DB is not visible here.

You'll find collection name here- 
> ![verify Collection](mongo_img/compass/c6.JPG)

Verify your inserted record with a unique id which is given by mongoDB by default -
> ![check inserted document](mongo_img/compass/c7.JPG)

Let's reverify whether our database and collection exists or not by using the function that we have defined before.

In [29]:
# Verify DATABASE
_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'jyotika_1' exists

In [30]:
# Verify COLLECTION
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'Jyotika_details_update' in Database:'jyotika_1' exists

### STEP 4: Insert multiple records

In [39]:

list_of_records = [
    {'collegeName': 'Bundelkhand University',
     'course': 'B.Tech Biotechnology',
     'year': '2017-2021'},
    
    {'collegeName': 'Kendriya Vidyalaya',
     'course': 'higher and senior secondary',
    'year':'2013 and 2015'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'course': 'Data Science Masters Program'}
]

rec = collection.insert_many(list_of_records)

In [40]:
# lets print the unique ID that of the record that we have inserted -
inserted_IDs = rec.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}. {unique_ids}")

0. 63ddf44c2a5d53ee203b71b9
1. 63ddf44c2a5d53ee203b71ba
2. 63ddf44c2a5d53ee203b71bb

We can verify the inserted records by refreshing our compass document-

> ![inserted list of records](mongo_img/compass/c8.JPG)

You can override the default unique Id by giving a user defined as shown below -

In [53]:
COLLECTION_NAME = "PU_Faculties"
faculties = dataBase[COLLECTION_NAME]

list_of_records_user_defined_id = [
    {'_id': '4',
    'collegeName': 'Pondicherry University',
    'Faculty': 'BKT'},
    {'_id': '5',
    'collegeName': 'Pondicherry University',
    'Faculty': 'RAMOUTHA'},
]

faculties_record = faculties.insert_many(list_of_records_user_defined_id)

refresh the Compass tool and you'll see a fresh collection is created by name iNeuron_Faculties
and this time _id is defined by us. Refer the highlighted portion of the image below:- 
    
> ![unique_id](mongo_img/compass/c9.JPG)

> **NOTE**: Make sure the \_id of the records that you insert are unique other wise you'll get a _BulkWriteError_ which comes because of duplicate key

### STEP 5: Find method in MongoDB

In [54]:
find_first_record = faculties.find_one()

print(f"The first record of collection: \n{COLLECTION_NAME} is=\
\n{find_first_record}")

The first record of collection:
PU_Faculties is=
{'_id': '3', 'collegeName': 'Pondicherry University', 'Faculty': 'Kumar'}

In [55]:
# find all the record at once present in thr record with all the fields
all_record = faculties.find()

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '3', 'collegeName': 'Pondicherry University', 'Faculty': 'Kumar'}
1: {'_id': '2', 'collegeName': 'Pondicherry University', 'Faculty': 'SURESH'}
2: {'_id': '1', 'collegeName': 'Pondicherry University', 'Faculty': 'Kumar'}
3: {'_id': '4', 'collegeName': 'Pondicherry University', 'Faculty': 'BKT'}
4: {'_id': '5', 'collegeName': 'Pondicherry University', 'Faculty': 'RAMOUTHA'}

In [56]:
# find all the record at once present in the record with SPECIFIC fields
all_record = faculties.find({}, {"Faculty"})

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '3', 'Faculty': 'Kumar'}
1: {'_id': '2', 'Faculty': 'SURESH'}
2: {'_id': '1', 'Faculty': 'Kumar'}
3: {'_id': '4', 'Faculty': 'BKT'}
4: {'_id': '5', 'Faculty': 'RAMOUTHA'}

### STEP 6: Query or filter out data in MongoDB

In [57]:
query1 = {"_id": '1'}

results = faculties.find(query1)
for data in results:
    print(data)

{'_id': '1', 'collegeName': 'Pondicherry University', 'Faculty': 'Kumar'}

In [58]:
query2 = {"_id": {"$gt": "1"}}

results = faculties.find(query2)
for data in results:
    print(data)

{'_id': '2', 'collegeName': 'Pondicherry University', 'Faculty': 'SURESH'}
{'_id': '3', 'collegeName': 'Pondicherry University', 'Faculty': 'Kumar'}
{'_id': '4', 'collegeName': 'Pondicherry University', 'Faculty': 'BKT'}
{'_id': '5', 'collegeName': 'Pondicherry University', 'Faculty': 'RAMOUTHA'}

### STEP 7: Delete one or many documents in MongoDB

In [60]:
# Lets add some random data in faculties
random_data = [
    {'_id': '6', 'collegeName': 'Pondicherry University', 'Faculty': 'VAmouda'},
    {'_id': '7', 'collegeName': 'Pondicherry University', 'Faculty': 'Dinkara'},
    {'_id': '8', 'collegeName': 'Pondicherry University', 'Faculty': 'PTV'},
    {'_id': '9', 'collegeName': 'Pondicherry University', 'Faculty': 'Krishna'},
]

faculties.insert_many(random_data)

In [61]:
# Lets delete one document in faculties
query_to_delete = {"Faculty": "PTV"}

faculties.delete_one(query_to_delete)

In [62]:
# lets delete multiple record
multi_query_to_delete = {"_id": {"$gte": "4"}}

faculties.delete_many(multi_query_to_delete)

> **NOTE**: In order to delete all the documents present in the collection you can just pass and empty dictionary as shown below: -
```python
faculties.delete_many({})
```

### STEP 8: Drop the entire collection

In [41]:
faculties.drop()

In [63]:
# Lets verify if the collection exists or not after dropping it
COLLECTION_NAME = "PU_Faculties"
DB_NAME = "Jyotika_1"
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'PU_Faculties' in Database:'Jyotika_1' exists

### STEP 9: Update

In [64]:
COLLECTION_NAME = "Jyotika_details_update"

details = dataBase[COLLECTION_NAME]

all_record = details.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('63dde8892a5d53ee203b71b2'), 'collegeName': 'Pondicherry University', 'course': 'M.Tech CB', 'session': '2021-2023', 'Registration_no': 'xyz'}

{'_id': ObjectId('63ddeae52a5d53ee203b71b3'), 'collegeName': 'Bundelkhand University', 'course': 'B.Tech Biotechnology', 'year': '2017-2021'}

{'_id': ObjectId('63ddeae52a5d53ee203b71b4'), 'collegeName': 'Kendriya Vidyalaya', 'course': 'higher and senior secondary', 'year': '2013 and 2015'}

{'_id': ObjectId('63ddeae52a5d53ee203b71b5'), 'companyName': 'iNeuron', 'product': 'Master Program', 'course': 'Data Science Masters Program'}

{'_id': ObjectId('63ddeaf62a5d53ee203b71b6'), 'collegeName': 'Bundelkhand University', 'course': 'B.Tech Biotechnology', 'year': '2017-2021'}

{'_id': ObjectId('63ddeaf62a5d53ee203b71b7'), 'collegeName': 'Kendriya Vidyalaya', 'course': 'higher and senior secondary', 'year': '2013 and 2015'}

{'_id': ObjectId('63ddeaf62a5d53ee203b71b8'), 'companyName': 'iNeuron', 'product': 'Master Program', 'course': 'Data Science Masters Program'}

{'_id': ObjectId('63ddf44c2a5d53ee203b71b9'), 'collegeName': 'Bundelkhand University', 'course': 'B.Tech Biotechnology', 'year': '2017-2021'}

{'_id': ObjectId('63ddf44c2a5d53ee203b71ba'), 'collegeName': 'Kendriya Vidyalaya', 'course': 'higher and senior secondary', 'year': '2013 and 2015'}

{'_id': ObjectId('63ddf44c2a5d53ee203b71bb'), 'companyName': 'iNeuron', 'product': 'Master Program', 'course': 'Data Science Masters Program'}

In [65]:
present_data = {'course': 'B.Tech Biotechnology'}
new_data = {"$set":{'course': 'ML and DL with Deployment'}}

In [68]:
details.update_one(present_data, new_data)

In [69]:
all_record = details.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('63dde8892a5d53ee203b71b2'), 'collegeName': 'Pondicherry University', 'course': 'M.Tech CB', 'session': '2021-2023', 'Registration_no': 'xyz'}

{'_id': ObjectId('63ddeae52a5d53ee203b71b3'), 'collegeName': 'Bundelkhand University', 'course': 'ML and DL with Deployment', 'year': '2017-2021'}

{'_id': ObjectId('63ddeae52a5d53ee203b71b4'), 'collegeName': 'Kendriya Vidyalaya', 'course': 'higher and senior secondary', 'year': '2013 and 2015'}

{'_id': ObjectId('63ddeae52a5d53ee203b71b5'), 'companyName': 'iNeuron', 'product': 'Master Program', 'course': 'Data Science Masters Program'}

{'_id': ObjectId('63ddeaf62a5d53ee203b71b6'), 'collegeName': 'Bundelkhand University', 'course': 'B.Tech Biotechnology', 'year': '2017-2021'}

{'_id': ObjectId('63ddeaf62a5d53ee203b71b7'), 'collegeName': 'Kendriya Vidyalaya', 'course': 'higher and senior secondary', 'year': '2013 and 2015'}

{'_id': ObjectId('63ddeaf62a5d53ee203b71b8'), 'companyName': 'iNeuron', 'product': 'Master Program', 'course': 'Data Science Masters Program'}

{'_id': ObjectId('63ddf44c2a5d53ee203b71b9'), 'collegeName': 'Bundelkhand University', 'course': 'B.Tech Biotechnology', 'year': '2017-2021'}

{'_id': ObjectId('63ddf44c2a5d53ee203b71ba'), 'collegeName': 'Kendriya Vidyalaya', 'course': 'higher and senior secondary', 'year': '2013 and 2015'}

{'_id': ObjectId('63ddf44c2a5d53ee203b71bb'), 'companyName': 'iNeuron', 'product': 'Master Program', 'course': 'Data Science Masters Program'}

In [70]:
present_data = {'companyName': 'iNeuron'}
new_data = {"$set": {'companyName': 'iNeuron.ai'}}

In [64]:
products.update_many(present_data, new_data)

all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('5f38c5fc01c6e385a178b671'), 'companyName': 'iNeuron.ai', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision'}

{'_id': ObjectId('5f38c60e01c6e385a178b672'), 'companyName': 'iNeuron.ai', 'product': 'Affordable AI', 'courseOffered': 'ML and DL with Deployment'}

{'_id': ObjectId('5f38c60e01c6e385a178b673'), 'companyName': 'iNeuron.ai', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

{'_id': ObjectId('5f38c60e01c6e385a178b674'), 'companyName': 'iNeuron.ai', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

### STEP 9: Set limit to view N records

In [71]:
N_records = 3

N_record = details.find().limit(N_records)

for idx, record in enumerate(N_record):
    print(f"{record}\n")

{'_id': ObjectId('63dde8892a5d53ee203b71b2'), 'collegeName': 'Pondicherry University', 'course': 'M.Tech CB', 'session': '2021-2023', 'Registration_no': 'xyz'}

{'_id': ObjectId('63ddeae52a5d53ee203b71b3'), 'collegeName': 'Bundelkhand University', 'course': 'ML and DL with Deployment', 'year': '2017-2021'}

{'_id': ObjectId('63ddeae52a5d53ee203b71b4'), 'collegeName': 'Kendriya Vidyalaya', 'course': 'higher and senior secondary', 'year': '2013 and 2015'}